<!DOCTYPE html>
<html>
  <header>
    <meta charset="utf-8"/>
    <title>Home</title>
  </header>
  <body>
      {{> header}}

      <p>{{screamIt welcomeMessage}}</p>

      {{> footer}}

  </body>
</html>
